<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Blogging news</title>
    <link rel="stylesheet" type="text/css" href="/styles/blog-mobile.css" />
    <link rel="stylesheet" type="text/css" media="screen and (min-width:690px) and (max-width: 964px)" href="/styles/blog-mini.css" />
    <link rel="stylesheet" type="text/css" media="screen and (min-width:965px)" href="/styles/blog-desktop.css" />
  </head>
  <body>
    <div class="container" id="">
      <header class="header">
       <nav>
          <ul class="nav_menu" id="nav_menu">
              <h3 class="logo">&hellip;&vellip;&hellip;</h3>
              <li class="nav_item <%= typeof page !== 'undefined' && page === 'blogs' ? 'active' : '' %>"><a class="nav_link" href="/blogs">Blogs</a></li>
              <li class="nav_item <%= typeof page !== 'undefined' && page === 'publish' ? 'active' : '' %>"><a class="nav_link" href="/blogs/publish">Write Post</a></li>
              <li class="nav_item <%= typeof page !== 'undefined' && page === 'about' ? 'active' : '' %>"><a class="nav_link" href="/about">About us</a></li>
              <li class="nav_item <%= typeof page !== 'undefined' && page === 'career' ? 'active' : '' %>"><a class="nav_link" href="/career">Career</a></li>
              <li class="nav_item <%= typeof page !== 'undefined' && page === 'services' ? 'active' : '' %>"><a class="nav_link" href="/services">Services</a></li>
            </ul>
        </nav>
      </header>